*, *::before, *::after {
    box-sizing: border-box;
    font-family: Viga;
    font-weight: normal;
    color: teal
  }
  
  body {
    padding: 0;
    margin: 0;
    background: url("img/cloud.jpg");
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    border-radius: 35px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid teal;
    outline: none;
    background-color: rgb(136, 221, 221);
    border-radius: 35px;
  }
  
  .calculator-grid > button:hover {
    background-color: rgb(19, 172, 172);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: teal;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px;
  }
  
  .output .previous-operand {
    color:  rgb(182, 218, 218);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: rgb(136, 221, 221);
    font-size: 2.5rem;
  }
